[submodule "backend"]
	path = backend
	url = https://kdt-gitlab.elice.io/ai_track/class_03/ai_project/team10/backend.git
	branch = develop
[submodule "frontend"]
	path = frontend
	url = https://kdt-gitlab.elice.io/ai_track/class_03/ai_project/team10/frontend.git
	branch = dev
[submodule "ai"]
	path = ai
	url = https://kdt-gitlab.elice.io/ai_track/class_03/ai_project/team10/ai.git
