[submodule "backend"]
	path = backend
	url = https://github.com/martinalee94/ai10-backend.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/martinalee94/ai10-frontend.git
	branch = master
[submodule "ai"]
	path = ai
	url = https://github.com/martinalee94/ai10-ai.git
